.sportsee-header {
    display: flex;
    align-items: center;
    background: #020203;
    height: 90px;
    padding: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    &__logo {
        width: 178px;
        margin-right: 150px;
    }
    &__items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-right: 70px;
    }

    &__item {
        font-size: 24px;
        font-weight: 500;
    }
}